																											  <#@ template hostspecific="true" language="C#" #>
<#@ include file="EFCore.PowerTools.ttinclude" #>
<#@ import namespace="System.Linq" #>
<#@ output extension=".cs" #>
<#
    var host = (TemplateHost)Host;
    var entities = host.Entities;
#>
using Microsoft.EntityFrameworkCore;
using Crm.Domain.Entities;
using Crm.Infrastructure.Persistence.Configurations;

namespace Crm.Infrastructure.Persistence
{
    public class CrmDbContext : DbContext
    {
        public CrmDbContext(DbContextOptions<CrmDbContext> options)
            : base(options)
        {
        }

<#
    foreach (var entity in entities)
    {
        var pluralName = entity.PluralName ?? entity.Name + "s";
#>
        public DbSet<<#= entity.Name #>> <#= pluralName #> { get; set; }

<#
    }
#>
        protected override void OnModelCreating(ModelBuilder modelBuilder)
        {
<#
    foreach (var entity in entities)
    {
#>
            modelBuilder.ApplyConfiguration(new <#= entity.Name #>Configuration());
<#
    }
#>
        }
    }
}