																		   <#@ template hostspecific="true" language="C#" #>
<#@ include file="EFCore.PowerTools.ttinclude" #>
<#@ output extension=".cs" #>
<#
    var host = (TemplateHost)Host;
    var entity = host.CurrentEntity;
    var keyType = entity.PrimaryKey.PropertyType;
#>
using System;
using Crm.Domain.Common;

namespace Crm.Domain.Entities
{
    public class <#= entity.Name #> : BaseEntity<<#= keyType #>>
    {
<#
    foreach (var prop in entity.Properties.Where(p => !p.IsPrimaryKey))
    {
        if (prop.PropertyType == "string")
        {
#>
        public <#= prop.PropertyType #> <#= prop.Name #> { get; set; } = null!;
<#
        }
        else if (prop.IsNullable)
        {
#>
        public <#= prop.PropertyType #>? <#= prop.Name #> { get; set; }
<#
        }
        else
        {
#>
        public <#= prop.PropertyType #> <#= prop.Name #> { get; set; }
<#
        }
    }

    foreach (var nav in entity.Navigations)
    {
        if (nav.IsCollection)
        {
#>

        public virtual ICollection<<#= nav.TypeName #>> <#= nav.Name #> { get; set; } = new List<<#= nav.TypeName #>>();
<#
        }
        else
        {
#>

        public virtual <#= nav.TypeName #> <#= nav.Name #> { get; set; } = null!;
<#
        }
    }
#>
    }
}